.contents {
    background-color: #F7F7F7;
    width: 100%;
    background-size: cover;
}

.article {
    background-color: #F7F7F7; 
    width: 100%;
    background-size: cover;
}

.header_article {
    background-color: #F5F5F5;
    width: 100%;
    background-size: cover;
}

.background-article-mountains {
    background: url(../images/background_article_mountains.jpg) no-repeat;
    width: 100%;
    background-size: cover;
}

.header__logo {
    font: 400 26px "Lora";
    color: #ffffff;
    text-decoration: none; 
}

.header__logo_article {
    color: #2E2E2E;
}

.header-menu__element {
    font: 400 12px/1.6 "Oxygen";
    color: #ffffff;
    text-decoration: none;
}

.header-menu__element_article {
    color: #2E2E2E;
}

.top-block__title {
    font: 400 50px/1.02 "Lora";
    color: #FFFFFF;
}

.top-block__quote {
    font: 400 17px/1.18 "Oxygen";
    color: #FFFFFF;
    opacity: 0.63;
}

.top-block__button {
    font: 400 13px/1.5 "Oxygen";
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DD783F;
    border: 3px solid #DD783F;
    padding: 12px 31px 12px 31px;
}

.average-menu {
    background-color: #ffffff;
    width: 100%;
    background-size: cover;
}

.average-menu__element {
    font: 400 14px/1.4 "Lora";
    text-decoration: none;
    color: #768088;
}

.table-of-contents {
    font: 400 20px/1.35 "Oxygen";
    max-width: 161px; 
    width: 100%; 
    border-bottom: 1px solid #DEDEDE;
}

.block {
    height: 291px; 
    background-color: #FFFFFF;
    border: 3px solid #F7F7F7;
    width: 296px; 
}

.block_left
{
    background: url(../images/the_road_ahead.jpg) no-repeat;
    max-width: 460px;
    width: 100%;
}

.block_right{
    background: url(../images/from_top_down.jpg) no-repeat;
    max-width: 460px;
    width: 100%;
}

.block__posts-name {
    font: 400 27px/1.11 "Lora";
    color: #FFFFFF;
}

.block__description-featured-posts
{
    font: 400 14px/1.78 "Oxygen";
    color: #FFFFFF;
    opacity: 0.7;
}

.block__image {
    border-radius: 50%;
}

.block-authors-date__image {
    border-radius: 50%;
}

.block__names-autors {
    font: 400 11px/3.18 "Oxygen";
    color: #FFFFFF;
    opacity: 0.7;
}

.block__date {
    font: 400 12px/2.91 "Oxygen";
    color: #FFFFFF;
    opacity: 0.7;
}

.block__recents-posts-name {
    font: 400 16px/1.3125 "Lora";
    color: #101315;
}

.block-authors-date {
    background-color: #FCFCFC;
    border: 1px solid #F7F7F7;
}

.block__description-resents-posts
{
    font: 400 13px/1.46 "Oxygen";
    color: #7A7A7A;
}

.block-authors-date__names-autors {
    font: 400 12px/2.91 "Oxygen";
    color: #999999;
}

.block-authors-date__date
{
    font: 400 12px/2.91 "Oxygen";
    color: #999999;
}

.article-head {
    background-color: #F5F5F5;
    width: 100%;
    background-size: cover;
}

.article-head__title {
    font: 400 50px/1.02 "Lora";
    color: #2E2E2E;
}

.article-head__qoute{
    font: 400 17px/1.17 "Oxygen";
    color: #2E2E2E;
    opacity: 0.63;
}

.article-head__image{
    width: 100%;
}

.article__paragraph{
    font: 400 24px/1.46 "Oxygen";
    color: #101315;
}

.footer {
    background: url(../images/background_footer.jpg) no-repeat;
    width: 100%;
    background-size: cover;
}

.footer__logo
{
    font: 400 26px "Lora";
    color: #FFFFFF;
    text-decoration: none;
}

.footer-menu__element {
    font: 400 12px/1.6 "Oxygen";
    color: #FFFFFF;
    opacity: 0.6;
    text-decoration: none;
}