.contents 
{
    background-color: #F7F7F7;
    width: 100%;
    background-size: cover;
    padding: 20px 0px 0px 0px;
}

.article 
{
    background-color: #F7F7F7; 
    width: 100%;
    background-size: cover;
}

.header_article
{
    background-color: #F5F5F5;
    width: 100%;
    background-size: cover;
}

.top-block 
{
    background: url(../images/background_article_mountains.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    padding: 20px 0px 169px 0px;
}

.header__logo 
{
    font: 400 26px "Lora";
    color: #ffffff;
    text-decoration: none;
}

.header__logo_article 
{
    color: #2E2E2E;
}

.header-menu__element 
{
    font: 400 12px/1.6 "Oxygen";
    color: #ffffff;
    text-decoration: none;
}

.header-menu__element_article 
{
    color: #2E2E2E;
}

.top-block__title 
{
    font: 400 50px/1.02 "Lora";
    color: #FFFFFF;
}

.top-block__quote 
{
    font: 400 17px/1.18 "Oxygen";
    color: #FFFFFF;
    opacity: 0.63;
}

.top-block__button 
{
    font: 400 13px/1.5 "Oxygen";
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DD783F;
    border: 3px solid #DD783F;
    padding: 12px 31px 12px 31px;
}

.average-menu 
{
    background-color: #ffffff;
    width: 100%;
    background-size: cover;
    padding: 22px 0px 23px 0px;
}

.average-menu__element 
{
    font: 400 14px/1.4 "Lora";
    text-decoration: none;
    color: #768088;
}

.featured-posts__title 
{
    font: 400 20px/1.35 "Oxygen";
    max-width: 161px; 
    width: 100%; 
    border-bottom: 1px solid #DEDEDE;
}

.most-recent-posts__title 
{
    font: 400 20px/1.35 "Oxygen";
    max-width: 161px; 
    width: 100%; 
    border-bottom: 1px solid #DEDEDE;
}

.featured-post
{
    height: 291px; 
    background-color: #FFFFFF;
    border: 3px solid #F7F7F7;
    width: 296px; 
}

.most-recent-post
{
    height: 291px; 
    background-color: #FFFFFF;
    border: 3px solid #F7F7F7;
    width: 296px; 
}

.featured-posts_the-road-ahead
{
    background: url(../images/the_road_ahead.jpg) no-repeat;
    max-width: 460px;
    width: 100%;
}

.featured-post_from-top-down
{
    background: url(../images/from_top_down.jpg) no-repeat;
    max-width: 460px;
    width: 100%;
}

.featured-post__name 
{
    font: 400 27px/1.11 "Lora";
    color: #FFFFFF;
}

.featured-post__description
{
    font: 400 14px/1.78 "Oxygen";
    color: #FFFFFF;
    opacity: 0.7;
}

.featured-post-signature__autor-image
{
    border-radius: 50%;
}

.featured-post-signature__autor-name
{
    font: 400 11px/3.18 "Oxygen";
    color: #FFFFFF;
    opacity: 0.7;
}

.featured-post-signature__date
{
    font: 400 12px/2.91 "Oxygen";
    color: #FFFFFF;
    opacity: 0.7;
}

.most-recent-post-signature__image 
{
    border-radius: 50%;
}

.most-recent-post__name
{
    font: 400 16px/1.3125 "Lora";
    color: #101315;
}

.most-recent-post-signature 
{
    background-color: #FCFCFC;
    border: 1px solid #F7F7F7;
}

.most-recent-post__description
{
    font: 400 13px/1.46 "Oxygen";
    color: #7A7A7A;
}

.most-recent-post-signature__autor-name
{
    font: 400 12px/2.91 "Oxygen";
    color: #999999;
}

.most-recent-post-signature__date
{
    font: 400 12px/2.91 "Oxygen";
    color: #999999;
}

.article-head 
{
    background-color: #F5F5F5;
    width: 100%;
    background-size: cover;
    padding: 1px 0px 0px 0px;
}

.article-head__title 
{
    font: 400 50px/1.02 "Lora";
    color: #2E2E2E;
}

.article-head__qoute
{
    font: 400 17px/1.17 "Oxygen";
    color: #2E2E2E;
    opacity: 0.63;
}

.article-head__image
{
    width: 100%;
}

.article-paragraphs__paragraph
{
    font: 400 24px/1.46 "Oxygen";
    color: #101315;
}

.footer 
{
    background: url(../images/background_footer.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    padding: 31px 0px 32px 0px;
    display: flex;
    flex-direction: row;
}

.footer__logo
{
    font: 400 26px "Lora";
    color: #FFFFFF;
    text-decoration: none;
}

.footer-menu__element 
{
    font: 400 11px/2.36 "Oxygen";
    color: #FFFFFF;
    opacity: 0.6;
    text-decoration: none;
}