<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTf-8" >
    <title>{{ .Title }}</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header-top-block">
      <div class="header">
        <a class="header__logo" href="#">Escape.</a>
        <nav class="header-menu">
          <a class="header-menu__element" href="#">HOME</a> 
          <a class="header-menu__element" href="#">CATEGORIES</a>
          <a class="header-menu__element" href="#">ABOUT</a>
          <a class="header-menu__element" href="#">CONTACT</a>
        </nav>
      </div>
      <div class="top-block">
        <h1 class="top-block__title">Let's do it together.</h1>
        <p class="top-block__quote">We travel the world in search of stories. Come along for the ride.</p>
        <a class="top-block__button" href="#">View Latest Posts</a>
      </div>
    </div>
    <nav class="average-menu">
      <a class="average-menu__element" href="#">Nature</a> 
      <a class="average-menu__element" href="#">Photography</a>
      <a class="average-menu__element" href="#">Relaxation</a>
      <a class="average-menu__element" href="#">Vacation</a>
      <a class="average-menu__element" href="#">Travel</a>
      <a class="average-menu__element" href="#">Adventure</a>
    </nav>
    <div class="contents">
      <div class="featured-posts">
        <h2 class="featured-posts__title">Featured Posts</h2>
        {{ range .FeaturedPosts }}
        <div class="featured-post {{.ImgModifier}}">
          <span class="featured-post__name">{{ .Title }}</span>
          <p class="featured-post__description">{{ .Subtitle }}</p>
          <div class="featured-post-signature">
            <img class="featured-post-signature__autor-image" src="{{.AuthorImg}}" alt="Mat Vogels" >
            <div class="featured-post-signature-autor-and-date">
              <span class="featured-post-signature-autor-and-date__autor-name">{{ .Author }}</span>
              <span class="featured-post-signature-autor-and-date__date">{{ .PublishDate }}</span>
            </div>  
          </div>
        </div>
        {{end}}
      </div>
  

      <div class="most-recent-posts">

        <h2 class="most-recent-posts__title">Most Recent</h2>
        <div class="most-recent-posts-blocks">
          {{ range .MostResentPosts}}
          <div class="most-recent-post">
            <img src="{{.Img}}" alt="balloons image" >
            <h3 class="most-recent-post__name">{{ .Title }}</h3>
            <p class="most-recent-post__description">{{ .Subtitle }}</p>
            <div class="most-recent-post-signature">
              <img class="most-recent-post-signature__image" src="{{.AuthorImg}}" alt="William Wong" >
              <div class="most-recent-post-signature-autor-and-date">
                <span class="most-recent-post-signature-autor-and-date__autor-name">{{ .Author }}</span>
                <span class="most-recent-post-signature-autor-and-date__date">{{ .PublishDate }}</span>
              </div>  
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-form">
        <h3 class="footer-form__name">Stay in Touch</h3>
        <div class="footer-form-input-line">
          <p class="footer-form-input-line__imput-line">Enter your email address</p>
          <span class="footer-form-input-line__button">Submit</span>
        </div>
      </div>
      <div class="footer-navigation">
        <a class="footer-navigation__logo" href="index.html">Escape.</a>
        <nav class="footer-navigation-menu">
          <a class="footer-navigation-menu__element" href="#">HOME</a> 
          <a class="footer-navigation-menu__element" href="#">CATEGORIES</a>
          <a class="footer-navigation-menu__element" href="#">ABOUT</a>
          <a class="footer-navigation-menu__element" href="#">CONTACT</a>
        </nav>
      </div>
    </footer>
  </body>
</html>
